body{
    background-color: #eceeef;
}

.jumbotron{
    background: none;
    text-align: center;
}
.section-a{
    padding: 0rem;

}
.section-b{
    background-color: #eceeef;
    padding: 2em;
}

.section-c{
    background-color: #cccccc;
    padding: 2em;
}
.section-button{
    text-align: center;
}
.get-button{
    margin: 35px;
}
.get-buttons{
    margin: 35px;
}
.section-d{
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item-one{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.footer{
    background-color: #000000;
    color: snow;
    display: flex;
}
.footer-sec-two ul {
    list-style: none;
    margin-top: 40px;
}
.footer-sec-two ul li {
    display: inline;
    margin: 10px;
    padding: 15px;
}
.footer-img{
    padding: 10px;
}
.facebook{
    color: blue;
    margin-right: 5px;

}
.whatsapp{
    color: green;
}
.instagram{
    color: #FD1D1D;
}
.email{
    color: yellow;
}
.phone{
    color: green;
}
.copyright{
    text-align: center;
}

@media screen and (max-width: 750px) {
    .footer{
        background-color: #000000;
        color: snow;
        display: flex;
        flex-direction: column;
    }
    .footer-sec-two ul li {
        display: block;
        margin: 5px;
        padding: 10px;
    }
  }
